# Core Web Framework
Django>=5.0.4

# Database Connector for PostgreSQL
# Sử dụng phiên bản binary để cài đặt dễ dàng hơn trên Windows/macOS/Linux
psycopg2-binary

# Cloud Media Management (Dựa trên cấu hình Cloudinary của bạn)
cloudinary

# Thêm thư viện này nếu bạn muốn tách các biến môi trường (như khóa bí mật) 
# vào một file .env riêng biệt (rất nên dùng trong dự án thực tế).
# python-decouple